/* style untuk background */
body {
  background-image: url("/img/Background.png");
  background-size: cover;
  background-position: center;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Menambahkan efek gelap pada latar belakang */
}

/* Kontainer utama */
.form-container {
  background-color: rgba(
    31,
    41,
    55,
    0.8
  ); /* Transparansi pada latar belakang form */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* menambahkan style lebih lanjut untuk logo */
img {
  max-width: 100%;
  height: auto;
}

/* Footer styling */
footer {
  background-color: #1a202c; /* Warna latar belakang footer */
  color: white; /* Warna teks */
  text-align: center; /* Posisi teks di tengah */
  padding: 20px 0; /* Padding atas dan bawah */
  position: relative; /* Agar footer tetap di bawah halaman */
  width: 100%;
  bottom: 0;
  margin-top: 30px; /* Memberikan jarak dengan konten utama */
}

footer p {
  font-size: 14px;
  margin: 0;
}

footer a {
  color: #e6e6e6;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
